Green01/Connected Services/ServiceMetierPlants/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61973/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetierPlant" />
  <xs:import schemaLocation="http://localhost:61973/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MetierPlant.Models" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MetierPlant" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MetierPlant" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MetierPlant.Models" minOccurs="0" name="p" nillable="true" type="q3:Profil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProfilResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProfil">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListProfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MetierPlant.Models" minOccurs="0" name="ListProfilResult" nillable="true" type="q4:ArrayOfProfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUtilisateur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MetierPlant.Models" minOccurs="0" name="u" nillable="true" type="q5:Utilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUtilisateurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUtilisateurResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUtilisateur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MetierPlant.Models" minOccurs="0" name="u" nillable="true" type="q6:Utilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUtilisateurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUtilisateurResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUtilisateur">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUtilisateurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUtilisateurResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUtilisateur">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUtilisateurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MetierPlant.Models" minOccurs="0" name="ListUtilisateurResult" nillable="true" type="q7:ArrayOfUtilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUtilisateurById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUtilisateurByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MetierPlant.Models" minOccurs="0" name="getUtilisateurByIdResult" nillable="true" type="q8:Utilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFruitier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MetierPlant.Models" minOccurs="0" name="f" nillable="true" type="q9:Fruitier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFruitierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFruitierResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFruitier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MetierPlant.Models" minOccurs="0" name="f" nillable="true" type="q10:Fruitier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFruitierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFruitierResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFruitier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFruitierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFruitierResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFruitier">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFruitierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MetierPlant.Models" minOccurs="0" name="ListFruitierResult" nillable="true" type="q11:ArrayOfFruitier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFruitierById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFruitierByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MetierPlant.Models" minOccurs="0" name="getFruitierByIdResult" nillable="true" type="q12:Fruitier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMarecher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MetierPlant.Models" minOccurs="0" name="m" nillable="true" type="q13:Marecher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMarecherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMarecherResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMarecher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MetierPlant.Models" minOccurs="0" name="m" nillable="true" type="q14:Marecher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMarecherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMarecherResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMarecher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMarecherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMarecherResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMarecher">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMarecherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MetierPlant.Models" minOccurs="0" name="ListMarecherResult" nillable="true" type="q15:ArrayOfMarecher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMarecherById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMarecherByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MetierPlant.Models" minOccurs="0" name="getMarecherByIdResult" nillable="true" type="q16:Marecher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>